@model FormulaDocs.Models.Mathematics
@{
    ViewBag.Title = "เพิ่มสูตรคณิตศาสตร์";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">หน้าแรก</a></li>
        <li class="breadcrumb-item"><a href="@Url.Action("Index","Mathematics")">สูตรคณิตศาสตร์</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
    </ol>
</nav>

@using (Html.BeginForm(Html.BeginForm("AddFormulas", "Mathematics", FormMethod.Post, new { enctype = "multipart/form-data" })))
{
    @Html.AntiForgeryToken()
<div class="form-group">
    <label>รูปประกอบ</label>
    <input type="file" name="image1http" />
    <br/>
    <label>ชื่อสูตร</label>
    <input type="text" class="form-control" name="Name" required>
    <label>รายละเอียด</label>
    <textarea type="text" class="form-control" name="Description1" required></textarea>
    <label>ประเภทสูตร</label>
    @Html.DropDownListFor(model => model.Category, new SelectList(ViewBag.categoryView), new { @class = "form-control" })
</div>
    <button type="submit" class="btn btn-outline-success">เพิ่ม</button>
}